
.input{
  height:25px;
  border-radius: 3px
}
.form{
  text-align: center;
  margin-top: 10px;
}
ul{
  list-style-type: none;
}
#test{
  height:150px;
  width: 150px;
}
.button{
  height: 30px;
  width:65px;
  font-size: 16px;
  margin-top: 10px;
  background-color: blanchedalmond;
  color: brown;
  border-radius: 4px
}
